.squad {
    display: grid;
    height: 1000px;
    border-radius: 30px;
    grid-template: repeat(10, 10%) / repeat(10, 10%);
    color: white;
    background-color: hsla(0, 0%, 100%, 0.4);
}

.four-four-two .gk {
    grid-area: 8 / 5 / 10 / 7;
}

.four-four-two .lb {
    grid-area: 7 / 3 / 9 / 4;
}

.player {
    height: 100px;
}